@import "../../scss/variables";

.main {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-secondary;
  border-radius: 10px;
}
