.header {
  background-color: #1e1e1e;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_title {
    font-size: 30px;
    font-weight: 600;
    color: #e40000;
  }
}
