@import "../../scss/variables";

.boards {
  margin: 10px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.board {
  width: 33%;
  background-color: $bg-secondary;
  border-radius: 5px;
  padding: 10px;
  &_title {
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
  }
}
