@import "variables";
@import "~normalize.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

button {
  cursor: pointer;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #6fcbe754;
  font-family: "Inter", sans-serif;
  color: $text-primary;
}

.container {
  margin: 0 auto;
}
